/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/contact/contact.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.contact_section__FD3QK{padding:4rem 0 6rem}
.contact_grid__PfnCN{display:grid;grid-template-columns:1fr 1fr;grid-gap:4rem;gap:4rem}
@media(max-width:900px){.contact_grid__PfnCN{grid-template-columns:1fr}}
.contact_formTitle__ttoBq{font-family:var(--ff-display);font-size:1.4rem;font-weight:700;color:var(--dark);margin-bottom:1.5rem;padding-bottom:.75rem;border-bottom:2px solid var(--gold)}
.contact_form__wCApJ{background:var(--warm-white);border:1px solid var(--border);padding:2rem}
.contact_successMsg__Wi0yQ{background:var(--warm-white);border:1px solid var(--border);padding:3rem;text-align:center}
.contact_successMsg__Wi0yQ span{font-size:3rem;display:block;margin-bottom:1rem}
.contact_successMsg__Wi0yQ h3{font-family:var(--ff-display);font-size:1.5rem;color:var(--dark);margin-bottom:.5rem}
.contact_successMsg__Wi0yQ p{font-size:.9rem;color:var(--muted)}
.contact_contactItem__s9YTy{display:flex;align-items:flex-start;gap:1rem;margin-bottom:1.2rem;padding-bottom:1.2rem;border-bottom:1px solid var(--border)}
.contact_contactItem__s9YTy:last-of-type{border-bottom:none}
.contact_contactItem__s9YTy > span{font-size:1.3rem;flex-shrink:0;margin-top:.1rem}
.contact_contactItem__s9YTy strong{display:block;font-family:var(--ff-caps);font-size:.6rem;letter-spacing:.18em;text-transform:uppercase;color:var(--gold);margin-bottom:.2rem}
.contact_contactItem__s9YTy p{font-size:.85rem;color:var(--text-light);font-family:var(--ff-body);line-height:1.5}
.contact_waBtn__0D2A_{width:100%;margin-bottom:1.5rem;justify-content:center}
.contact_map__oBjtU{overflow:hidden;border:1px solid var(--border)}

